<div class="row np-no-gutters m-3">
  <div class="col-md-12">
    <div class="row mb-1 justify-content-between">
      <div class="col-lg-3 padding-0-8-0-8">
        <section class="widget dashboard-card-section">
          <div class="widget-body" class="dashboard-widget-body">
            <div class="stats-row dashboard-row m-0">
              <div class="stat-item">
                <p class="value m-0 dataViz-emerlad" id="card-value">308</p>
              </div>
              <div class="stat-item">
                <p class="value m-0 dataViz-emerlad" id="card-value-item">
                  ₹ 14,00,00,000
                </p>
              </div>
            </div>
            <p class="m-0">
              <span class="dashboard-card-label">Active Loans</span>
            </p>
          </div>
        </section>
      </div>
      <div class="col-lg-3 padding-0-8-0-8">
        <section class="widget dashboard-card-section" style="height:100%">
          <div class="widget-body" class="dashboard-widget-body">
            <div class="stats-row dashboard-row m-0">
              <div class="stat-item">
                <p class="value m-0 semantic-red" id="card-value">43</p>
              </div>
            </div>
            <p class="m-0">
              <span class="dashboard-card-label">Overdue Loans</span>
            </p>
          </div>
        </section>
      </div>
      <div class="col-lg-3 padding-0-8-0-8">
        <section class="widget dashboard-card-section">
          <div class="widget-body" class="dashboard-widget-body">
            <div class="stats-row dashboard-row m-0">
              <div class="stat-item">
                <p class="value m-0 dataViz-violet" id="card-value">371</p>
              </div>
            </div>
            <p class="m-0">
              <span class="dashboard-card-label">Customers Onboarded</span>
            </p>
          </div>
        </section>
      </div>
      <div class="col-lg-3 padding-0-8-0-8">
        <section class="widget dashboard-card-section">
          <div class="widget-body" class="dashboard-widget-body">
            <div class="stats-row dashboard-row m-0">
              <div class="stat-item">
                <p class="value m-0 dataViz-violet" id="card-value">250</p>
              </div>
            </div>
            <p class="m-0">
              <span class="dashboard-card-label">Reatilers Visited</span>
            </p>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 padding-0-8-0-8 pt-1">
        <section class="widget padding-15-20">
          <header>
            <h6 class="m-b-0">
              <span class="heading black1">Loans</span>
              <span class="caption black1">(Oct-Mar 19)</span>
            </h6>
          </header>
          <div class="row">
            <div class="col-md-6 stat-item text-center">
              <p class="value m-0 display-s dataViz-emerlad" id="card-value">
                ₹ 3,06,00,000
              </p>
              <p class="m-0">
                <span class="dashboard-card-label black2"
                  >Disbursed Amount</span
                >
              </p>
            </div>
            <div class="col-md-6 stat-item text-center">
              <p class="m-0 display-s dataViz-emerlad font-size-24">140</p>
              <p class="m-0">
                <span class="dashboard-card-label black2">Disbursed Loans</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="loansChart"></div>
          </div>
        </section>
      </div>
      <div class="col-md-6 padding-0-8-0-8 pt-1">
        <section class="widget padding-15-20" style="height:100%">
          <header>
            <h6 class="m-b-0">
              <span class="heading black1">Loan Type</span>
              <span class="caption black1">(Oct-Mar 19)</span>
            </h6>
          </header>
          <div class="row">
            <div class="col-md-12" id="loansBarChart"></div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 padding-0-8-0-8 pt-1">
        <section class="widget padding-15-20">
          <header>
            <h6 class="m-b-0">
              <span class="heading black1">Overdue Loans</span>
              <span class="caption black1">(Oct-Mar 19)</span>
            </h6>
          </header>
          <div class="row">
            <div class="col-md-6 stat-item text-center">
              <p class="value m-0 display-s semantic-red" id="card-value">
                ₹ 1,80,00,000
              </p>
              <p class="m-0">
                <span class="dashboard-card-label black2">Overdue Amount</span>
              </p>
            </div>
            <div class="col-md-6 stat-item text-center">
              <p class="m-0 display-s semantic-red font-size-24">22</p>
              <p class="m-0">
                <span class="dashboard-card-label black2">Overdue Loans</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="pieContainer"></div>
          </div>
        </section>
      </div>
      <div class="col-md-6 padding-0-8-0-8 pt-1">
        <section class="widget padding-15-20">
          <header>
            <h6 class="m-b-0">
              <span class="heading black1">Onboarding</span>
              <span class="caption black1">(Oct-Mar 19)</span>
            </h6>
          </header>
          <div class="row">
            <div class="col-md-12 stat-item text-center">
              <p class="value m-0 display-s dataViz-purple" id="card-value">
                140
              </p>
              <p class="m-0">
                <span class="dashboard-card-label black2"
                  >Customers Onboarded</span
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="onboarding"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
